In [68]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, plot_confusion_matrix
from sklearn.datasets import make_classification, make_circles
from sklearn.linear_model import Perceptron
from sklearn import svm

In [69]:
seeds_train = pd.read_csv("Dataset/seeds_train.csv", header= None)    #169
seeds_test = pd.read_csv("Dataset/seeds_test.csv", header= None)      #42

In [70]:
# Make copy from our main datasets
seeds_train_ovr = seeds_train.copy()
seeds_test_ovr = seeds_test.copy()

In [71]:
# method to get accuracy of the model
def getAccuracy(model, x, y):
    return model.score(x,y)*100

In [72]:
# method to make data binary
def binary_y(df_train, df_test):
  for i in df_train[2].unique():
    df_train['y{}'.format(i)] = df_train[2].apply(lambda x: 1 if x == i else -1)
    df_test['y{}'.format(i)] = df_test[2].apply(lambda x: 1 if x == i else -1)

  return df_train, df_test

df_train_ovr, df_test_ovr = binary_y(seeds_train_ovr, seeds_test_ovr)

In [11]:
df_test_ovr

        0      1  2  y1  y2  y3
0   14.84  2.221  1   1  -1  -1
1   17.05  5.016  2  -1   1  -1
2   16.31  2.109  2  -1   1  -1
3   14.76  1.791  1   1  -1  -1
4   13.75  3.533  1   1  -1  -1
5   15.51  4.004  2  -1   1  -1
6   13.15  2.201  3  -1  -1   1
7   15.67  4.675  2  -1   1  -1
8   13.60  4.756  3  -1  -1   1
9   13.78  4.670  3  -1  -1   1
10  16.18  4.188  2  -1   1  -1
11  12.41  4.975  3  -1  -1   1
12  14.29  2.217  1   1  -1  -1
13  13.12  4.337  3  -1  -1   1
14  15.86  3.747  2  -1   1  -1
15  15.55  2.858  2  -1   1  -1
16  16.29  2.553  2  -1   1  -1
17  14.21  2.462  1   1  -1  -1
18  13.21  3.598  3  -1  -1   1
19  14.56  2.958  1   1  -1  -1
20  13.66  8.315  3  -1  -1   1
21  14.67  2.129  1   1  -1  -1
22  14.86  4.711  1   1  -1  -1
23  12.79  6.388  3  -1  -1   1
24  16.29  3.237  2  -1   1  -1
25  14.43  1.142  1   1  -1  -1
26  14.52  2.704  1   1  -1  -1
27  13.41  4.988  3  -1  -1   1
28  16.32  2.908  2  -1   1  -1
29  16.19  5.324  2  -1   1  -1
30  15.46  2.040  1   1  -1  -1
31  13.45  4.898  3  -1  -1   1
32  13.36  4.857  3  -1  -1   1
33  14.57  1.018  1   1  -1  -1
34  16.20  4.334  2  -1   1  -1
35  15.65  3.696  2  -1   1  -1
36  16.20  3.120  2  -1   1  -1
37  12.87  3.347  3  -1  -1   1
38  16.49  5.064  2  -1   1  -1
39  13.67  2.504  1   1  -1  -1
40  16.41  4.391  2  -1   1  -1
41  16.12  3.619  2  -1   1  -1

In [119]:
def Model(df_train_ovr, df_test_ovr):
    l = []
    fl = []
    tmp = []
    for i in range(3):
        x_train = df_train_ovr.iloc[:, 0:2].to_numpy()
        y_train = df_train_ovr.iloc[:, (i+3)].to_numpy()

        x_test = df_test_ovr.iloc[:, 0:2].to_numpy()
        y_test = df_test_ovr.iloc[:, (i+3)].to_numpy()
        
        svm_model = svm.SVC(kernel='linear', decision_function_shape='ovo', probability=True)
        svm_model = svm_model.fit(x_train, y_train)
        
        tmp.append(svm_model.predict_proba(x_test))
    
    return tmp

In [122]:
fl = Model(df_train_ovr, df_test_ovr)
ls_1 = fl[0][:,1]
ls_2 = fl[1][:,1]
ls_3 = fl[2][:,1]

ls_3

array([6.69204275e-03, 1.84759210e-04, 8.02312430e-05, 5.42635675e-03,
       3.88639096e-01, 5.92493130e-03, 4.81456409e-01, 7.41338646e-03,
       7.76663942e-01, 6.52458234e-01, 1.00578593e-03, 9.93037139e-01,
       3.32405013e-02, 9.02203278e-01, 1.62916113e-03, 1.61329164e-03,
       1.34583130e-04, 5.36991417e-02, 7.67294807e-01, 3.23999772e-02,
       9.91396273e-01, 1.00126576e-02, 7.63464649e-02, 9.95063165e-01,
       2.72804475e-04, 7.30017922e-03, 2.80563003e-02, 8.85371619e-01,
       1.77855888e-04, 3.15790004e-03, 9.02183144e-04, 8.62201106e-01,
       8.86506804e-01, 4.26169106e-03, 1.10293017e-03, 2.86000713e-03,
       3.14714711e-04, 8.73425193e-01, 1.00213144e-03, 2.16661172e-01,
       6.32159345e-04, 6.66205039e-04])

In [123]:
predictions =[]
for i in zip(ls_1, ls_2, ls_3):
    x = np.argmax((i))
    predictions.append(x+1)
print(predictions)

[1, 2, 2, 1, 1, 2, 1, 2, 3, 3, 2, 3, 1, 3, 2, 2, 2, 1, 3, 1, 3, 1, 2, 3, 2, 1, 1, 3, 2, 2, 2, 3, 3, 1, 2, 2, 2, 3, 2, 1, 2, 2]

In [128]:
actuals = seeds_test.iloc[: , 2]

In [129]:
print('\nConfusion Matrix:\n')
print(confusion_matrix(actuals, predictions))

Confusion Matrix:

[[11  2  0]
 [ 0 17  0]
 [ 1  0 11]]